header{
    background: black;
	font-family: Helvetica;
	margin-top: -50px;
	margin-left: -150px;
	margin-right: -150px;
	padding-top: 50px;
	min-height: 50px;
	border-bottom: black 3px solid;
}

header ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header li{
	float: center;
	display: inline-block;
	margin-left: 30px;
	padding: 0 30px 0 30px;
}

header li a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
}

header .weblogo{
	float: left;
}

header .weblogo h1{
	margin: 0;
}

header .weblogo h1 a{
	font-size: 30px;
	color: red;
	text-decoration: none;
}

header nav{
	float: center;
	margin-top: 15px;
}

header li a:hover{
	background-color: black;
	color: red;
}

.header-search {
	display: inline-block;
	float: right;
}

.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

body{
	margin-left: 7em;
	margin-right: 7em;
	background: #272626;
	color: white;
	font-family: Helvetica;
}

button{
	font-family: Helvetica
	font-size: 24px;
	font-weight: bold;
	background: #272626;
	color: white;	
}

/*main{
	min-height: calc(100vh - 211px -58px);
}*/

footer{
   	position: fixed;
   	left: 0px;
   	bottom: 0px;
   	height: 30px;
   	width: 100%;	
    background: black;
	color: white;
	text-align: center;
	font-family: Helvetica;
	padding: 15px;	
}

.center-buttons{
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 25%);
	display: inline-block;
}

.center-buttons button{
	border: none;
	cursor: pointer;
	float: none;
	padding: 0.5em;
}




