html{
	scroll-behavior: smooth;
}

header{
    background: black;
	font-family: Helvetica;
/*	margin-top: -50px;
	margin-left: -150px;
	margin-right: -150px;
	padding-top: 50px;
	min-height: 50px;*/
	margin: auto;
	width: 100%;
	height: 100%;
	padding: 15px;
	border-bottom: black 3px solid;
}

header ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header li{
	float: center;
	display: inline-block;
	margin-left: 30px;
	padding: 0 30px 0 30px;
}

header li a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
}

header .weblogo{
	float: left;
}

header .weblogo h1{
	margin: 0;
}

header .weblogo h1 a{
	font-size: 30px;
	color: red;
	text-decoration: none;
}

header nav{
	float: center;
	margin-top: 15px;
}

header li a:hover{
	background-color: black;
	color: red;
}

.header-search {
	display: inline-block;
	float: right;
}

.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

body{
/*	margin-left: 7em;
	margin-right: 7em;*/
	margin: auto;
	background: #272626;
	color: white;
	font-family: Helvetica;
	overflow-x: scroll;
	overflow-y: scroll;
}

button{
	font-family: Helvetica
	font-size: 24px;
	font-weight: bold;
	background: #272626;
	color: white;	
}

.web-body{
	margin-left: 7em;
	margin-right: 7em;
}

/*#main-highlight{
	background: #212121;
	position: relative;
}

#imageContainer-1 a img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#main-highlight #image1-text h1 a{
	text-shadow: 10px 10px 10px black;
	text-decoration: none;
	font-size: 72px;
	color: white;
  	position: absolute;
	top: 70%;
	left: 45%;
	transform: translate(-55%, -45%);
}*/

/*THIS SECTION IS FOR THE HOMEPAGE*/
* {
	box-sizing: border-box
}

#home-highlight{
	clear: both;
	display: flex;
	max-width: 1920px;
	max-height: 1080px;
}

.mySlides {
	display: none
}

.mySlides .fade < img{
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	float: left;
	vertical-align: middle;
	max-width: 60%;
	position: relative;
	margin: 50px auto;

	/*margin: 25px auto;*/ /*margin: auto; centers the slideshow!*/
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 10%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text{
	color: white;
	background: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	position: absolute;
	bottom: 40px;
	width: 100%;
	/*text-align: center;*/
}

.text h1, .text h2, .text p{
	margin: 0 50px;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/*#home-highlight{
	clear: both;
	display: flex;
	max-height: 900px;
}*/

#schedule-home{
	/*display: inline-block;*/
	float: right;
	vertical-align: middle;
	background: rgba(0,0,0,0.5);
	position: relative;
	margin: 50px auto;
	padding: 15px 60px;
	max-width: 50%;
	height: 500px;
}

#schedule-contents li{
	list-style-type: none;
}

#schedule-contents a{
	text-decoration: none;
	color: white;
	font-size: 14px;
}

.home-body{
	float: left;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

.home-img{
	float: left;
}

.home-txt{
	float: right;
	vertical-align: middle;
	text-align: center; 
	background: #cf0830; 
	color: white; 
	font-weight: bold;
	padding-top: 200px;
	padding-left: 65px;
	padding-right: 65px;
	padding-bottom: 210px;
}

.home-txt a{
	text-decoration: none; 
	color: white;  
	text-align: center;
}


#new-shows{
	float: left;
	vertical-align: middle;
}

/* On smaller screens, decrease text size */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1){
	.slideshow-container{max-width: 100%}
	.prev, .next, .text{display: none;}
	.prev, .next, .text{font-size: 6px;}
	.web-body{font-size:8px;}
	/*#schedule-home{display:none;}*/
	#schedule-home{width: 5px; height: 100px; font-size: 8px;}
}
/*@media only screen and (max-width: 667px){
	.slideshow-container{max-width: 100%}
	.prev, .next, .text{display: none;}
	.web-body{font-size:5px;}
	#schedule-home{display:none;}
}*/

@media only screen and (max-width: 1080px){
	.prev, .next, .text{font-size: 6px;}
	.web-body{font-size: 8px;}
	#schedule-home{width: 30px; height: 460px; font-size: 8px;}
}

@media only screen and (max-width: 1400px){
	.prev, .next, .text{font-size: 10px;}
	#schedule-home{width: 100px; height: 460px; font-size: 14px;}
}

@media only screen and (min-width: 1920px) {
/*	.prev, .next, .text {font-size: 11px; display: none;}*/
	.prev, .next, .text{font-size: 20px;}
	.slideshow-container{max-width: 65%;}
	#schedule-home{width: 500px; height: 700px; padding: 15px 70px;}
}

/*THIS SECTION IS FOR THE SCHEDULE*/
.schedule-table{
	border-collapse: separate; 
	border-spacing: 30px 20px
}

.schedule-table td{
	font-size: 18px;
}

.center-buttons{
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 25%);
	display: inline-block;
}

.center-buttons button{
	border: none;
	cursor: pointer;
	float: none;
	padding: 0.5em;
}

.short-webpage-footer{
   	position: fixed;
   	left: 0px;
   	bottom: 0px;
   	height: 50px;
   	width: 100%;	
    background: black;
	color: white;
	text-align: center;
	font-family: Helvetica;
	padding: 15px;	
}

.gallery {
	display: flex;
	margin: 15px 0;
}

.gallery-item {
	position: relative;
	display: block;
	flex: 1 1 0px;
	transition: transform 500ms;
	margin: 0 2px;
	text-decoration: none;
	color: white;
}

/*COOL OLD NETFLIX FUNCTIONALITIES THAT MIGHT BE OF SOME USE LATER!*/
/*.gallery:focus-within .gallery-item,
.gallery:hover .gallery-item{
	transform: translateX(-25%);
}

.gallery-item:focus ~ .gallery-item,
.gallery-item:hover ~ .gallery-item {
	transform: translateX(25%);
}

.gallery .gallery-item:focus,
.gallery .gallery-item:hover {
	transform: scale(1.5);
	z-index: 1;
}*/

.gallery-item img {
	display: block;
	padding: 2px;
	width: 100%;
	object-fit: contain;
}

.gallery a{
	text-align: center;
}

@media screen and (max-width: 100%) {
	.gallery {
		width: 100%;
	}
}

footer{
	clear: both;
    background: black;
	color: white;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: auto;
	padding: 15px;
	border-bottom: black 3px solid;
}

footer img{
	display: block;	
	margin: 10px auto 20px;
}