header{
    background: black;
	font-family: Helvetica;
	margin-top: -50px;
	margin-left: -150px;
	margin-right: -150px;
	padding-top: 50px;
	min-height: 50px;
	border-bottom: black 3px solid;
}

header ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header li{
	float: center;
	display: inline-block;
	margin-left: 30px;
	padding: 0 30px 0 30px;
}

header li a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
}

header .weblogo{
	float: left;
}

header .weblogo h1{
	margin: 0;
}

header .weblogo h1 a{
	font-size: 30px;
	color: red;
	text-decoration: none;
}

header nav{
	float: center;
	margin-top: 15px;
}

header li a:hover{
	background-color: black;
	color: red;
}

.header-search {
	display: inline-block;
	float: right;
}

.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

body{
	margin-left: 7em;
	margin-right: 7em;
	background: #272626;
	color: white;
	font-family: Helvetica;
}

button{
	font-family: Helvetica
	font-size: 24px;
	font-weight: bold;
	background: #272626;
	color: white;	
}

#main-highlight{
	background: #212121;
}

#imageContainer-1 a img{
/*	text-align: center;
	position: relative;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#image1-text a{
	text-shadow: 10px 10px 10px black;
	text-decoration: none;
	font-size: 72px;
	color: white;
  	position: absolute;
	top: 75%;
	left: 45%;
	transform: translate(-55%, -45%);
}

.schedule-table{
	border-collapse: separate; 
	border-spacing: 30px 20px
}

.schedule-table td{
	font-size: 18px;
}

.center-buttons{
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 25%);
	display: inline-block;
}

.center-buttons button{
	border: none;
	cursor: pointer;
	float: none;
	padding: 0.5em;
}

.short-webpage-footer{
   	position: fixed;
   	left: 0px;
   	bottom: 0px;
   	height: 50px;
   	width: 100%;	
    background: black;
	color: white;
	text-align: center;
	font-family: Helvetica;
	padding: 15px;	
}

footer{
	clear: both;
    background: black;
	color: white;
	text-align: center;
	margin-bottom: -100px;
	margin-left: -125px;
	margin-right: -125px;
	border-bottom: black 3px solid;
	padding: 15px;
}

footer img{
	display: block;	
	margin: 10px auto 20px;
}




